# Environment & secrets
.env
terraform/terraform.tfvars
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Python
__pycache__/
*.pyc
venv/
.venv/

# Docker
*.tar

# OS
.DS_Store
